#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.modeList button {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px 0;
}

.modeList a {
  text-decoration: none;
}