.board {
  display: inline-block;
  border: 2px solid #333;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: green;
}

.cell.valid-move {
  cursor: pointer;
  background-color: rgba(0,255,0,0.2);
}
